/* Main styles to all pages */
body {
  font-family: 'Noto Serif', serif;
}

.icons {
  margin-right: 6px;
}

.icons1 {
  margin-right: 5px;
}

.one {
  width: 50px;
  height: 50px;
  margin: 1px 20px 1px 20px;
}

a {
  margin-right: 10px;
  margin-left: 5px;
}

a:hover {
  background-color: #EDEDED;
}

.foot:hover {
  text-decoration: none;
}

.head {
  font-family: 'Courgette', cursive;
  text-align: center;
  padding: 30px;
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 40px;
  color: white;
}

/* Background Top */
.background {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgb(255, 0, 0, 0.79), rgb(13, 110, 253, 0.48)), url(backg.jpg);
  background-position: center;
  background-size: cover;
}

/* FOOTER */
footer {
  margin-top: 55px;
  padding: 40px 0 50px 0;
  color: white;
  background-color: #143F6B;
}

.foot {
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  color: white;
  width: 200px;
}

.fot {
  padding: 10px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
  margin-top: 30px;
}

a {
  margin-right: 10px;
  margin-left: 5px;
  text-decoration: none;
}

p {
  padding: 15px;
}

.fooot {
  width: 500px;
}

.left {
  padding-left: 20px;
}

.footimg {
  width: 100px;
  height: 100px;
  margin: 0 0 10px 270px;
}

/* Buttons */
.top {
  list-style-type: none;
  padding: 0 0 20px 0;
}

.time {
  padding: 30px;
  color: white;
}

.main {
  width: auto;
  height: auto;
  font-size: 1.5rem;
  border-radius: 5%;
  color: black;
  background-color: #F9F2ED;
  /* background-image: linear-gradient(#3B44F6,#F9F2ED) ; */
  font-family: 'Courgette', cursive;
  /* text-shadow: -1px -1px 0 #4C3A51, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.col-lg-4, .col-lg-6 {
  text-align: center;
}

/* Projects */
.projects {
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 2rem;
}

.pro {
  padding: 20px;
  margin: 15px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: 1s;
  background-image: linear-gradient(#DFDFDE, #F7F5F2);
}

.link {
  font-size: 18px;
}

/* Responsive */
@media screen and (max-width:1023px) {
  .one {
    width: 90px;
    height: 90px;
  }

  .low {
    font-size: 40px;
  }

  .for {
    font-size: 50px;
  }

  .inc {
    font-size: 46px;
  }

  .of {
    font-size: 23px;
  }

  .off {
    font-size: 50px;
  }

  .so {
    height: 75px;
  }

  .head {
    font-size: 60px;
    padding: 5px;
    margin-top: 100px;
  }

  /* FOOT */
  .fooot {
    width: 380px;
  }

  .left {
    padding: 0;
  }

  .fot {
    margin-left: 5px;
    padding: 0;
  }

  .new {
    margin-left: 17px;
  }

  .main {
    font-size: 2.8rem;
  }

  .time {
    font-size: 80px;
    padding: 40px;
  }

  .footimg {
    margin-left: 105px;
  }
}
